$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fairview: "fairviewregular", Tahoma, sans-serif;
$wisdom: "wisdom_scriptregular", script;
$futura: "futura-pt", $sans-serif;

$breakpoint-sm: "(min-width: 40em)";
$breakpoint-md: "(min-width: 52em)";
$breakpoint-lg: "(min-width: 64em)";
$breakpoint-xl: "(min-width: 76em)";