.logo {
	display: block;
	margin: 0 auto 0.75rem;
	width: 100px;

	img {
		display: block;
	}

	@media #{$breakpoint-sm} {
		width: 160px;
		margin: 0;

		position: absolute;
		top: 0;
		left: 0;
		margin-top: -2px;

		visibility: hidden;
		opacity: 0;
		transform: scale(0.5);

		transition-property: opacity, visibility, transform;
		transition-duration: 100ms;
		transition-delay: 0;
		transition-timing-function: $ease-in-out-quart;

		.sitenav--stick & {
			visibility: visible;
			opacity: 1;
			transform: scale(1);

			transition-duration: 500ms;
			transition-delay: 300ms;
		}
	}
}