.sitenav {
	position: relative;
	z-index: 11;
	box-sizing: border-box;

	.btn {
		box-shadow: none;
		border: 0 transparent;
		border-bottom: 3px solid transparent;
		font-size: 0.75rem;
		padding-left: 0.25rem;
		padding-right: 0.25rem;
		outline: none;

		&:active {
			border-bottom: 3px solid $alt-2;
		}
	}

	@media #{$breakpoint-sm} {
		.btn {
			font-size: 0.8rem;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}
	}
}

.sitenav--hidden,
.sitenav--clone {
	position: fixed;
	top: 0;
	width: 100%;
	transform: translateY(-100%);
	transition: all 300ms $ease-in-out-quart;
}

.sitenav--stick {
	transform: translateY(0%);
	z-index: 10;
}
