/* Margins
----------------------*/

.mtn1 {
	margin-top: -1rem;
}

.mtn2 {
	margin-top: -2rem;
}

/* Padding
----------------------*/

.cushion-top {
	padding-top: 10%;

	&-sm {
		padding-top: 5%;
	}

	&-lg {
		padding-top: 15%;
	}

	&-xl {
		padding-top: 22%;
	}
}

.cushion-bottom {
	padding-bottom: 10%;

	&-sm {
		padding-bottom: 5%;
	}

	&-lg {
		padding-bottom: 15%;
	}

	&-xl {
		padding-bottom: 22%;
	}
}

/* Backgrounds
----------------------*/

.bg-tint {
	background-color: $tint;
}

.bg-cover {
	background-size: cover;
}