.about-hero {
	background-image: url(../images/hero-about.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.about-history {

	@media #{$breakpoint-sm} {
		background-image: url(../images/bg-canoe.png);
		background-repeat: no-repeat;
		background-position: 90% center;
		background-size: 40% auto;
	}
}


.about-athens {

	&-img {

		@media #{$breakpoint-md} {
			margin-left: -25%;
			width: 75%;
		}

	}
}

.about-huntsville {

	&-img {

		@media #{$breakpoint-md} {
			margin-right: -25%;
			width: 75%;
		}

	}
}