.blog-titling {
	margin-top: -6rem;
	position: relative;
	z-index: 2;
}

.blog,
.blog-articles {

	a {
		color: $rust;
		cursor: pointer;

		&:hover {
			color: $alt-6;
			text-decoration: none;

			h5 {
				color: $rust;
			}
		}
	}

}

.blog-title {
	font-size: 45px;
	line-height: 1;

	@media #{$breakpoint-lg} {
		font-size: 60px;
	}
}